name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - name: 'Login to GitHub Container Registry'
      uses: docker/login-action@v1
      with:
          registry: ghcr.io
          username: ${{github.actor}}
          password: ${{secrets.TOKEN}}
    - name: Build the Docker image
      run: | 
           docker build . --file Dockerfile --tag ghcr.io/lawrence-d-lee/my-image-name:latest
           docker push ghcr.io/lawrence-d-lee/my-image-name:latest
