name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    with:
    registry: ghcr.io
    username: ${{ github.actor }}
    password: ${{ secrets.TOKEN }}
    - name: Build the Docker image
      run: | 
           docker build . --file Dockerfile --tag ghcr.io/lawrence-d-lee/my-image-name:latest
           docker push ghcr.io/lawrence-d-lee/my-image-name:latest
